<mat-card flex-gt-sm="50" layout-align = "center center">            
    <form [formGroup]="formGroup"  (ngSubmit) = "overridePassword()" style="margin:30px" layout="column">
          <h3>Override User Password</h3>
          <mat-form-field>
              <input id = "email" name="email" matInput placeholder="Email" [formControl] = "formGroup.controls.email">
              <mat-error *ngIf="formGroup.controls['email'].errors?.required">Email is required</mat-error>
              <mat-error *ngIf="formGroup.controls['email'].errors?.pattern && !formGroup.controls['email'].errors?.required">Email is invalid</mat-error>      
          </mat-form-field>
          <mat-form-field>
              <input id = "newPassword" name="newPassword" matInput placeholder="New Password" [formControl] = "formGroup.controls.newPassword">
              <mat-error *ngIf="formGroup.controls['newPassword'].errors?.required">New password is required</mat-error>
              <mat-error *ngIf="formGroup.controls['newPassword'].errors?.pattern && !formGroup.controls['newPassword'].errors?.required">Password is invalid</mat-error>      
            </mat-form-field>
          <mat-form-field>
              <input id = "confirmNewPassword" name="confirmNewPassword" matInput placeholder="Confirm Password" [formControl] = "formGroup.controls.confirmNewPassword">
              <mat-error *ngIf="formGroup.controls['confirmNewPassword'].errors?.required">Confirm password is required</mat-error>
              <mat-error *ngIf="formGroup.controls['confirmNewPassword'].errors?.MatchFields && !formGroup.controls['confirmNewPassword'].errors?.required">Password mismatch</mat-error>      
          </mat-form-field>
          <div layout="row">
                  <div>
                      <button type="submit" mat-raised-button color="primary">Change Password</button>
                  </div>
                  <div flex-offset-gt-xs="5" flex-offset-xs="5">
                      <button type="button" mat-raised-button color="accent" (click) = "back()" >Cancel</button>
                  </div>  
          </div>   
    </form>
   <br>
  </mat-card>