
<div class="nav-container" [class.nav-is-mobile]="media.registerQuery('xs')|async">
    <mat-toolbar color="primary" class="nav-toolbar">
      <button mat-icon-button (click)="snav.toggle()" *ngIf="media.registerQuery('xs')|async"><mat-icon>menu</mat-icon></button>
      <h1 class="nav-app-name">LibrarySYS</h1>
      <button mat-button routerLink="/books" routerLinkActive="active" *ngIf="media.registerQuery('gt-xs')|async">Books</button>
      <button mat-button routerLink="/customers" routerLinkActive="active" *ngIf="media.registerQuery('gt-xs')|async">Customers</button>
      <button mat-button routerLink="/users" routerLinkActive="active" *ngIf="media.registerQuery('gt-xs')|async">Users</button>
      <button mat-button routerLink="/login" routerLinkActive="active" *ngIf="media.registerQuery('gt-xs')|async">Log in</button>
      <button mat-button [matMenuTriggerFor]="account" *ngIf="media.registerQuery('gt-xs')|async">Manage Account</button>    
    </mat-toolbar>
      <mat-menu #account="matMenu">
        <a mat-menu-item routerLink="/change-password">Change Password</a>
        <a mat-menu-item routerLink="/reset-password">Reset Password</a>
        <a mat-menu-item routerLink="/override-password">Override Password</a>
      </mat-menu>
      

    <mat-sidenav-container class="nav-sidenav-container">
      <mat-sidenav #snav [fixedInViewport]="media.registerQuery('xs')|async" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="/books" (click)="snav.toggle()">Books</a>
          <a mat-list-item routerLink="/customers" (click)="snav.toggle()">Customers</a>
          <a mat-list-item routerLink="/users" (click)="snav.toggle()">Users</a>
          <a mat-list-item routerLink="/login" (click)="snav.toggle()">Log in</a>
          <a mat-list-item routerLink="/change-password" (click)="snav.toggle()">Change Password</a>
          <a mat-list-item routerLink="/reset-password" (click)="snav.toggle()">Reset-Password</a>
          <a mat-list-item routerLink="/override-password" (click)="snav.toggle()">Override Password</a>   
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>