<mat-card flex-gt-sm="50" layout-align = "center center" >            
  <form [formGroup]="formGroup"  (ngSubmit) = "resetPassord()" style="margin:30px" layout="column">
        <h3>Reset Password</h3>
        <mat-form-field>
            <input id = "email" name="email" matInput placeholder="Email" [formControl] = "formGroup.controls.email">
            <mat-error *ngIf="formGroup.controls['email'].errors?.required">Email is required</mat-error>
            <mat-error *ngIf="formGroup.controls['email'].errors?.pattern && !formGroup.controls['email'].errors?.required">Email is invalid</mat-error>      
        </mat-form-field>
        <mat-form-field>
          <input id = "password" name="password" matInput placeholder="New password" [formControl] = "formGroup.controls.password">
          <mat-error *ngIf="formGroup.controls['password'].errors?.required">Password is required</mat-error>
          <mat-error *ngIf="formGroup.controls['password'].errors?.pattern && !formGroup.controls['password'].errors?.required">Password is invalid</mat-error>      
        </mat-form-field>
        <mat-form-field>
            <input id = "confirmPassword" name="confirmPassword" matInput placeholder="Confirm Password" [formControl] = "formGroup.controls.confirmPassword">
            <mat-error *ngIf="formGroup.controls['confirmPassword'].errors?.required">Confirm password is required</mat-error>
            <mat-error *ngIf="formGroup.controls['confirmPassword'].errors?.MatchFields && !formGroup.controls['confirmPassword'].errors?.required">Password is invalid</mat-error>      
        </mat-form-field>
        <mat-form-field>
            <mat-select id = "securityQuestion" name="securityQuestion" placeholder="Select security question" [formControl] = "formGroup.controls.securityQuestion">
              <mat-option *ngFor="let question of questionOptions" [value]="question">{{question}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls['securityQuestion'].errors?.required">Please select security question</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input id = "securityQuestionAnswer" name="securityQuestionAnswer" matInput placeholder="Security Question Answer" [formControl] = "formGroup.controls.securityQuestionAnswer">
            <mat-error *ngIf="formGroup.controls['securityQuestionAnswer'].errors?.required">Security question answer required</mat-error>
            <mat-error *ngIf="formGroup.controls['securityQuestionAnswer'].errors?.maxLength && !formGroup.controls['securityQuestionAnswer'].errors?.required">Password is</mat-error>      
        </mat-form-field>
        <div layout="row">
                <div>
                    <button type="submit" mat-raised-button color="primary">Reset Password</button>
                </div>
                <div flex-offset-gt-xs="5" flex-offset-xs="5">
                    <button type="button" mat-raised-button color="accent" (click) = "back()">Cancel</button>
                </div>  
        </div>   
  </form>
 <br>
</mat-card>
